@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  background-color: #df3b1e;
  margin: 0;
  padding: 0px;
  color: antiquewhite;
  font-family: 'Roboto Mono', monospace;

}

h1 {
  color: antiquewhite;
  font-family: 'Delicious Handrawn', cursive;
}

h2 {
  color: antiquewhite;
  font-family: 'Delicious Handrawn', cursive;
}

.messagesContainer {
  height: calc(100vh - 250px);
  overflow-y: scroll;
  border: 1px solid red;
  padding: 1rem;
  border-radius: 5px;
  background-color: #b72f17ae;
}
.message {
  padding: 1rem;
  border-radius: 5px;
  background-color: #df3b1e;
  margin-bottom: 1rem;
}